body {
    color: #000000;
    font-family: arial; verdana;
    font-size: 10pt;
    background-color: #ffffff;
    background-image: url(bgdicas.jpg);
    }
    h4 {
    color:#33ff33;
    font-family: arial; verdana;
    font-size: 11pt;
    }
    h3 {
    font-weight: bold;
    color:#ffffff;
    font-family: arial; verdana;
    font-size: 10pt;
    }
    h5 {
    font-style: italic;
    font-weight: normal;
    color:#ffffff;
    font-family: arial; verdana;
    font-size: 10pt;
    }
    p {
    color: #ffffff;
    font-family: arial; verdana;
    font-size: 10pt;
    margin:0px;
    padding:2px 5px;
    }
    em {
    font-style: normal;
    color:#33ff33;
    }
    tr {
    font-size: 10pt;
    }
    a:link { color:#00ffff; text-decoration: underline }
    a:hover { color:#77ff99; text-decoration: none }
    a:visited { color:#ccffff; text-decoration: underline }